/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#selected_language{
    margin-top:10px;
    width:300px ;
}
#hide_icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  float: right;
  position: relative;
  right: 10px;
  text-decoration: none;
  background-color: #999;
  margin-right: 10px;
}
#hide_icon:hover{
  background-color: red;
  opacity: 1;

}
img{
  float: right;
  opacity: 0.5;
}
img:hover{
  opacity: 1;
}
  body{
    box-sizing: border-box;
  }
#close{
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    float: right;
    text-decoration: none;
    background-color: rgb(165, 184, 170);
    text-align: center;
    border-radius: 50%;

}
#close:hover{
    background-color: rgb(242, 25, 25);

}
.container{
  border:2px solid #5372F0;
  /* max-width: 690px; */
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.01);
  background-color: white;
  
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons{
  width: 38%;
}
.controls .row .icons i{
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .row select{
  color: #333;
  width: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.controls .row select::-webkit-scrollbar{
  width: 8px;
}
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}
.controls .row select::-webkit-scrollbar-thumb{
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange{
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active{
  transform: scale(0.9);
}
.container button{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
}

